[submodule "www/themes/risotto"]
	path = www/themes/risotto
	url = git@github.com:joeroe/risotto.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
